<?xml version='1.0'?>
<database>
  <name>jackal_world</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://AruCo_Block_0</uri>
    <uri>file://AruCo_Block_1</uri>
    <uri>file://AruCo_Block_2</uri>
    <uri>file://AruCo_Block_3</uri>
    <uri>file://AruCo_Block_4</uri>
  </models>
</database>
