<?xml version='1.0'?>
<database>
  <name>jackal_world</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://AruCo_Block_1</uri>
    <uri>file://AruCo_Block_2</uri>
    <uri>file://AruCo_Block_3</uri>
    <uri>file://AruCo_Block_4</uri>
    <uri>file://AruCo_Block_5</uri>
    <uri>file://AruCo_Block_6</uri>
    <uri>file://AruCo_Block_7</uri>
    <uri>file://AruCo_Block_8</uri>
    <uri>file://AruCo_Block_9</uri>
    <uri>file://AruCo_Block_10</uri>
    <uri>file://AruCo_Block_11</uri>
    <uri>file://AruCo_Block_12</uri>
    <uri>file://AruCo_Block_13</uri>
    <uri>file://AruCo_Block_14</uri>
    <uri>file://AruCo_Block_15</uri>
    <uri>file://AruCo_Block_16</uri>
    <uri>file://AruCo_Block_17</uri>
    <uri>file://AruCo_Block_18</uri>
  </models>
</database>
